# Proyecto 4: Redees Sociales

## Integrantes
* Garc√≠a Saavedra Armando
* Orozco Guillen Jorge David
* Rodriguez Nu√±ez Diego Eduardo

In [1]:
import pandas as pd
import glob

***
Leemos los csv de instagram, le a√±adimos el mes y los juntamos en un solo dataframe

In [2]:
i_d = pd.read_csv('socialnetworks\instagram_dec.csv')
i_d = (
    i_d.assign(
        Month = 'December'
    )
)
i_d.to_csv('socialnetworks\instagram_dec.csv',index=False)

In [3]:
i_j = pd.read_csv('socialnetworks\instagram_june.csv')
i_j = (
    i_j.assign(
        Month = 'June'
    )
)
i_j.to_csv('socialnetworks\instagram_june.csv',index=False)

In [4]:
i_n = pd.read_csv('socialnetworks\instagram_nov.csv')
i_n = (
    i_n.assign(
        Month = 'November'
    )
)
i_n.to_csv('socialnetworks\instagram_nov.csv',index=False)

In [5]:
i_s = pd.read_csv('socialnetworks\instagram_sep.csv')
i_s = (
    i_s.assign(
        Month = 'September'
    )
)
i_s.to_csv('socialnetworks\instagram_sep.csv',index=False)

In [6]:
glob.glob('socialnetworks\instagram_*.csv')

['socialnetworks\\instagram_dec.csv',
 'socialnetworks\\instagram_june.csv',
 'socialnetworks\\instagram_nov.csv',
 'socialnetworks\\instagram_sep.csv']

In [7]:
df_insta = pd.concat(map(pd.read_csv, glob.glob('socialnetworks\instagram_*.csv')))
df_insta

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Rank,name,instagram name,Category_1,Category_2,...,Followers,\nCountry,Category-2,S.no,Instagram name,Name,Subscribers,Audience country,Authentic engagement\n,Engagement average\r\n
0,0.0,0.0,0.0,0.0,0,1.0,leomessi,Leo Messi,Sports with a ball,Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,1.0,1.0,1,2.0,cristiano,Cristiano Ronaldo,Sports with a ball,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,2.0,2.0,2.0,2,3.0,neymarjr,NJ üáßüá∑,Sports with a ball,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,3.0,3.0,3.0,3,4.0,kyliejenner,Kylie ü§ç,Fashion,Modeling,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,4.0,4.0,4.0,4,5.0,kendalljenner,Kendall,Modeling,Fashion,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,NaN,NaN,NaN,NaN,1045,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,996.0,jadethirlwall,jade amelia thirlwall,9.4M,United States,174.2K,228.1K
1046,NaN,NaN,NaN,NaN,1046,NaN,NaN,NaN,Computers & Gadgets,Machinery & Technologies,...,NaN,NaN,NaN,997.0,ninja,User Not Found,12.9M,United States,127.8K,163.9K
1047,NaN,NaN,NaN,NaN,1047,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,998.0,myriamfares,Myriam Fares,20.6M,Iraq,75.8K,102.4K
1048,NaN,NaN,NaN,NaN,1048,NaN,NaN,NaN,Lifestyle,NaN,...,NaN,NaN,NaN,999.0,optimushwang,Ìô©ÎØºÌòÑ,4.2M,South Korea,426K,508K
1049,NaN,NaN,NaN,NaN,1049,NaN,NaN,NaN,Modeling,NaN,...,NaN,NaN,NaN,1000.0,syifahadjureal,Syifa Hadju,15.5M,Indonesia,110.2K,136.1K

In [8]:
df_insta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4050 entries, 0 to 1049
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0.4           1000 non-null   float64
 1   Unnamed: 0.3           1000 non-null   float64
 2   Unnamed: 0.2           2000 non-null   float64
 3   Unnamed: 0.1           3000 non-null   float64
 4   Unnamed: 0             4050 non-null   int64
 5   Rank                   1000 non-null   float64
 6   name                   1000 non-null   object
 7   instagram name         981 non-null    object
 8   Category_1             1752 non-null   object
 9   Category_2             583 non-null    object
 10  followers              1000 non-null   object
 11  country                999 non-null    object
 12  Eng. (Auth.)           3000 non-null   object
 13  Eng. (Avg.)            3000 non-null   object
 14  Month                  4050 non-null   object
 15  s.no                   2000 non-null   float64
 16  Name                   2000 non-null   object
 17  Instagram Name         1956 non-null   object
 18  Category-1             1904 non-null   object
 19  Followers              2000 non-null   object
 20
Country               1992 non-null   object
 21  Category-2             678 non-null    object
 22  S.no                   1050 non-null   float64
 23  Instagram name         1050 non-null   object
 24   Name                  1029 non-null   object
 25  Subscribers            1050 non-null   object
 26  Audience country       1046 non-null   object
 27  Authentic engagement
  1050 non-null   object
 28  Engagement average
   1050 non-null   object
dtypes: float64(7), int64(1), object(21)
memory usage: 949.2+ KB

In [9]:
df_insta = df_insta.groupby(['name', 'instagram name', 'Followers', 'country', 'Category_1', 'Category_2', 'Month'])
df_insta

In [10]:
df_insta

***
Leemos los csv de Tiktok

glob.glob('socialnetworks\\Tiktok_*.csv')

In [11]:
df_Tiktok = pd.concat(map(pd.read_csv, glob.glob('socialnetworks\Tiktok_*.csv')))
df_Tiktok

,Rank,Tiktoker name,Tiktok name,followers,views(avg),likes(avg.),comments(avg.),shares(avg.),Tiktoker,influencer name,...,row-cell,\nFollowers,Views (Avg.),Likes (Avg.),Comments (Avg.),Shares (Avg.),S.no,Subscribers,Likes avg.,Shares avg.
0,1.0,mrbeast,MrBeast,60.3M,29.2M,3.5M,30.8K,7.2K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,karolg,Karol G,42.4M,23.7M,3.4M,21.7K,25.7K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,yzn47,Ÿäÿ≤ŸÜ ÿßŸÑÿ£ÿ≥ŸÖÿ±,8.9M,48.9M,998.4K,16.3K,60.9K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,centralcee,CentralCee,4.4M,19.8M,3.6M,23.3K,24.2K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,adinross,adin,6.1M,21.1M,3.3M,17.5K,25.3K,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,brendadialoy,Brenda Dialoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,996.0,371.9K,187.5K,2K
996,NaN,jujufitcats,Juju Fitcats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,997.0,4.3M,280.8K,558
997,NaN,xoteam,XO Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,998.0,37.8M,180.2K,450
998,NaN,kimsnwuo,Ô∏èÔ∏è,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,999.0,100.9K,226.8K,1.7K
999,NaN,jass_mcg,jass_mcg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1000.0,52.2K,116K,1.8K

***
Leemos los csv de Youtube

In [12]:
glob.glob('socialnetworks\\Youtube_*.csv')

['socialnetworks\\Youtube_dec.csv',
 'socialnetworks\\Youtube_june.csv',
 'socialnetworks\\Youtube_nov.csv',
 'socialnetworks\\Youtube_sep.csv']

In [13]:
df_Youtube = pd.concat(map(pd.read_csv, glob.glob('socialnetworks\Youtube_*.csv')))
df_Youtube

,s.no,Youtube channel,youtuber name,Category,Followers,Country,\nViews (Avg.),Likes (Avg.),Comments (Avg.),Category-2,...,Likes avg,Comments avg.,S.no,Name,Youtuber,Subscribers,Avg. views\r\n,Avg. likes,Avg Comments,Category_3
0,1.0,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,setindia,SET India,NaN,147.2M,India,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,MrBeast,MrBeast,Video games,117M,United States,68.5M,2.9M,99.9K,Humor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN,NaN,...,NaN,NaN,996.0,Raditya Dika,Raditya Dika,9.9M,430.5K,14.8K,741,NaN
1043,NaN,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN,NaN,...,NaN,NaN,997.0,Ini Talk Show,IniTalkShow,9.9M,25.2K,290,17,Humor
1044,NaN,NaN,NaN,NaN,NaN,Thailand,NaN,NaN,NaN,NaN,...,NaN,NaN,998.0,SpriteDer SPD,SpriteDer SPD,9.9M,4.4M,154.4K,3.6K,NaN
1045,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,...,NaN,NaN,999.0,Classic Mr Bean,Classic Mr Bean,9.9M,132.6K,1.1K,53,NaN
1046,NaN,NaN,NaN,NaN,NaN,Pakistan,NaN,NaN,NaN,NaN,...,NaN,NaN,1000.0,Heera Gold,Heera Gold,9.9M,39.4K,1.6K,161,NaN