# Proyecto 4: Redees Sociales

## Integrantes
* Garc√≠a Saavedra Armando
* Orozco Guillen Jorge David
* Rodriguez Nu√±ez Diego Eduardo

In [85]:
import pandas as pd
import glob

***
Leemos los csv de instagram, le a√±adimos el mes y los juntamos en un solo dataframe

In [86]:
i_d = pd.read_csv('socialnetworks\instagram_dec.csv')
i_d = (
    i_d
    .assign(
        Month = 'December'
    )
    .rename(columns={
        "Eng. (Auth.)": "Authentic",
        "Eng. (Avg.)": "Engagement",
        "name": "Username",
        "instagram name": "Name",
        "country": "Country",
        "Category_1":"Category1",
        "Category_2":"Category2",
        "followers": "Subscribers o Followers"
    })
)
i_d

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Rank,Username,Name,Category1,Category2,Subscribers o Followers,Country,Authentic,Engagement,Month
0,0,0,0,0,0,1,leomessi,Leo Messi,Sports with a ball,Family,409.8M,Argentina,17.8M,23.4M,December
1,1,1,1,1,1,2,cristiano,Cristiano Ronaldo,Sports with a ball,NaN,523M,India,11.7M,14.7M,December
2,2,2,2,2,2,3,neymarjr,NJ üáßüá∑,Sports with a ball,NaN,198.9M,Brazil,6.7M,9.5M,December
3,3,3,3,3,3,4,kyliejenner,Kylie ü§ç,Fashion,Modeling,376.3M,United States,2.7M,4.3M,December
4,4,4,4,4,4,5,kendalljenner,Kendall,Modeling,Fashion,268M,United States,3.2M,5M,December
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,995,995,995,995,996,thiago6,Thiago Alcantara,Sports with a ball,NaN,10.4M,United Kingdom,129.9K,222.7K,December
996,996,996,996,996,996,997,soycintiacossio,Cintia Cossio,Modeling,Adult content,6M,Colombia,313.4K,390.6K,December
997,997,997,997,997,997,998,feat.dino,Ïù¥Ï∞¨,Lifestyle,NaN,2.7M,South Korea,716.6K,876.4K,December
998,998,998,998,998,998,999,djokernole,Novak Djokovic,Sports with a ball,NaN,11.8M,United States,158.6K,197.5K,December
999,999,999,999,999,999,1000,ravindra.jadeja,Ravindrasinh jadeja,Lifestyle,Sports with a ball,4.8M,India,388.9K,485.1K,December

In [87]:
i_j = pd.read_csv('socialnetworks\instagram_june.csv')
i_j = (
    i_j
    .assign(
        Month = 'June'
    )
    .rename(columns={
        "Name":"Username",
        "Instagram Name": "Name",
        "Category-1":"Category1",
        "Category-2":"Category2",
        "Followers":"Subscribers o Followers",
        "\nCountry": "Country",
        "Eng. (Auth.)": "Authentic",
        "Eng. (Avg.)": "Engagement"
    })
)
i_j

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,s.no,Username,Name,Category1,Subscribers o Followers,Country,Authentic,Engagement,Category2,Month
0,0,0,0,1,cristiano,Cristiano Ronaldo,Sports with a ball,483.1M,India,4.5M,5.6M,NaN,June
1,1,1,1,2,kyliejenner,Kylie ü§ç,Fashion,370M,United States,2.8M,4.4M,Modeling,June
2,2,2,2,3,leomessi,Leo Messi,Sports with a ball,357.8M,Indonesia,3.2M,4.1M,Family,June
3,3,3,3,4,arianagrande,Ariana Grande,Music,331.6M,United States,2.9M,4M,NaN,June
4,4,4,4,5,zendaya,Zendaya,Cinema & Actors/actresses,152.2M,United States,4.8M,6.5M,Fashion,June
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,995,995,996,thenewclassic,Iggy Azalea,Music,16.7M,United States,82.1K,132.8K,NaN,June
996,996,996,996,997,min.nicha,MINNIE,Lifestyle,4.2M,Thailand,385.5K,526.6K,Music,June
997,997,997,997,998,francety,Francia James,Adult content,11.4M,India,149.9K,196.6K,NaN,June
998,998,998,998,999,silambarasantrofficial,Silambarasan TR,Shows,10.2M,India,169.6K,216.6K,Lifestyle,June
999,999,999,999,1000,lalala_lfamily,Lfamily,Music,2.5M,Thailand,752.9K,900.4K,NaN,June

In [88]:
i_n = pd.read_csv('socialnetworks\instagram_nov.csv')
i_n = (
    i_n
    .assign(
        Month = 'November'
    )
    .rename(columns={
        "Name":"Username",
        "Instagram Name": "Name",
        "Category-1":"Category1",
        "Category-2":"Category2",
        "Followers":"Subscribers o Followers",
        "\nCountry": "Country",
        "Eng. (Auth.)": "Authentic",
        "Eng. (Avg.)": "Engagement"
    })
)
i_n

,Unnamed: 0.1,Unnamed: 0,s.no,Username,Name,Category1,Subscribers o Followers,Country,Authentic,Engagement,Category2,Month
0,0,0,1,cristiano,Cristiano Ronaldo,Sports with a ball,483.1M,India,4.5M,5.6M,NaN,November
1,1,1,2,kyliejenner,Kylie ü§ç,Fashion,370M,United States,2.8M,4.4M,Modeling,November
2,2,2,3,leomessi,Leo Messi,Sports with a ball,357.8M,Indonesia,3.2M,4.1M,Family,November
3,3,3,4,arianagrande,Ariana Grande,Music,331.6M,United States,2.9M,4M,NaN,November
4,4,4,5,zendaya,Zendaya,Cinema & Actors/actresses,152.2M,United States,4.8M,6.5M,Fashion,November
...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,995,996,thenewclassic,Iggy Azalea,Music,16.7M,United States,82.1K,132.8K,NaN,November
996,996,996,997,min.nicha,MINNIE,Lifestyle,4.2M,Thailand,385.5K,526.6K,Music,November
997,997,997,998,francety,Francia James,Adult content,11.4M,India,149.9K,196.6K,NaN,November
998,998,998,999,silambarasantrofficial,Silambarasan TR,Shows,10.2M,India,169.6K,216.6K,Lifestyle,November
999,999,999,1000,lalala_lfamily,Lfamily,Music,2.5M,Thailand,752.9K,900.4K,NaN,November

In [89]:
i_s = pd.read_csv('socialnetworks\instagram_sep.csv')
i_s = (
    i_s
    .assign(
        Month = 'September'
    )
    .rename(columns={
        "Name":"Name",
        "Instagram name": "Username",
        "Category_1":"Category1",
        "Category_2":"Category2",
        "Subscribers":"Subscribers o Followers",
        "Audience country": "Country",
        "Authentic engagement\n": "Authentic",
        "Engagement average\r\n": "Engagement"
    })
)
i_s

,Unnamed: 0,S.no,Username,Name,Subscribers o Followers,Country,Authentic,Engagement,Category1,Category2,Month
0,0,1,cristiano,Cristiano Ronaldo,477.9M,India,5M,6.2M,Sports with a ball,NaN,September
1,1,2,kyliejenner,Kylie ü§ç,368.1M,United States,3.5M,5.5M,Fashion,Modeling,September
2,2,3,arianagrande,Ariana Grande,329.6M,United States,2.9M,4M,NaN,NaN,September
3,3,4,leomessi,Leo Messi,358.6M,Indonesia,2.7M,3.5M,Sports with a ball,Family,September
4,4,5,zendaya,Zendaya,151.1M,United States,4.3M,5.8M,Cinema & Actors/actresses,Fashion,September
...,...,...,...,...,...,...,...,...,...,...,...
1045,1045,996,jadethirlwall,jade amelia thirlwall,9.4M,United States,174.2K,228.1K,NaN,NaN,September
1046,1046,997,ninja,User Not Found,12.9M,United States,127.8K,163.9K,Computers & Gadgets,Machinery & Technologies,September
1047,1047,998,myriamfares,Myriam Fares,20.6M,Iraq,75.8K,102.4K,NaN,NaN,September
1048,1048,999,optimushwang,Ìô©ÎØºÌòÑ,4.2M,South Korea,426K,508K,Lifestyle,NaN,September
1049,1049,1000,syifahadjureal,Syifa Hadju,15.5M,Indonesia,110.2K,136.1K,Modeling,NaN,September

In [90]:
glob.glob('socialnetworks\instagram_*.csv')

['socialnetworks\\instagram_dec.csv',
 'socialnetworks\\instagram_june.csv',
 'socialnetworks\\instagram_nov.csv',
 'socialnetworks\\instagram_sep.csv']

In [91]:
df_insta = pd.concat([i_d,i_j,i_n,i_s],ignore_index=True)
df_insta

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Rank,Username,Name,Category1,Category2,Subscribers o Followers,Country,Authentic,Engagement,Month,s.no,S.no,Name
0,0.0,0.0,0.0,0.0,0,1.0,leomessi,Leo Messi,Sports with a ball,Family,409.8M,Argentina,17.8M,23.4M,December,NaN,NaN,NaN
1,1.0,1.0,1.0,1.0,1,2.0,cristiano,Cristiano Ronaldo,Sports with a ball,NaN,523M,India,11.7M,14.7M,December,NaN,NaN,NaN
2,2.0,2.0,2.0,2.0,2,3.0,neymarjr,NJ üáßüá∑,Sports with a ball,NaN,198.9M,Brazil,6.7M,9.5M,December,NaN,NaN,NaN
3,3.0,3.0,3.0,3.0,3,4.0,kyliejenner,Kylie ü§ç,Fashion,Modeling,376.3M,United States,2.7M,4.3M,December,NaN,NaN,NaN
4,4.0,4.0,4.0,4.0,4,5.0,kendalljenner,Kendall,Modeling,Fashion,268M,United States,3.2M,5M,December,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4045,NaN,NaN,NaN,NaN,1045,NaN,jadethirlwall,NaN,NaN,NaN,9.4M,United States,174.2K,228.1K,September,NaN,996.0,jade amelia thirlwall
4046,NaN,NaN,NaN,NaN,1046,NaN,ninja,NaN,Computers & Gadgets,Machinery & Technologies,12.9M,United States,127.8K,163.9K,September,NaN,997.0,User Not Found
4047,NaN,NaN,NaN,NaN,1047,NaN,myriamfares,NaN,NaN,NaN,20.6M,Iraq,75.8K,102.4K,September,NaN,998.0,Myriam Fares
4048,NaN,NaN,NaN,NaN,1048,NaN,optimushwang,NaN,Lifestyle,NaN,4.2M,South Korea,426K,508K,September,NaN,999.0,Ìô©ÎØºÌòÑ
4049,NaN,NaN,NaN,NaN,1049,NaN,syifahadjureal,NaN,Modeling,NaN,15.5M,Indonesia,110.2K,136.1K,September,NaN,1000.0,Syifa Hadju

In [92]:
df_insta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4050 entries, 0 to 4049
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0.4             1000 non-null   float64
 1   Unnamed: 0.3             1000 non-null   float64
 2   Unnamed: 0.2             2000 non-null   float64
 3   Unnamed: 0.1             3000 non-null   float64
 4   Unnamed: 0               4050 non-null   int64
 5   Rank                     1000 non-null   float64
 6   Username                 4050 non-null   object
 7   Name                     2937 non-null   object
 8   Category1                3656 non-null   object
 9   Category2                1261 non-null   object
 10  Subscribers o Followers  4050 non-null   object
 11  Country                  4037 non-null   object
 12  Authentic                4050 non-null   object
 13  Engagement               4050 non-null   object
 14  Month                    4050 non-null   object
 15  s.no                     2000 non-null   float64
 16  S.no                     1050 non-null   float64
 17   Name                    1029 non-null   object
dtypes: float64(7), int64(1), object(10)
memory usage: 569.7+ KB

***
Leemos los csv de Tiktok

In [93]:
T_d = pd.read_csv('socialnetworks\Tiktok_dec.csv')
T_d = (
    T_d
    .assign(
        Month = 'December'
    )
    .rename(columns={
        "Tiktoker name": "Username",
        "Tiktok name": "Name",
        "views(avg)": "Views",
        "likes(avg.)":"Likes",
        "comments(avg.)":"Comments",
        "shares(avg.)":"Shares",
        "followers": "Subscribers o Followers"
    })
)
T_d

,Rank,Username,Name,Subscribers o Followers,Views,Likes,Comments,Shares,Month
0,1,mrbeast,MrBeast,60.3M,29.2M,3.5M,30.8K,7.2K,December
1,2,karolg,Karol G,42.4M,23.7M,3.4M,21.7K,25.7K,December
2,3,yzn47,Ÿäÿ≤ŸÜ ÿßŸÑÿ£ÿ≥ŸÖÿ±,8.9M,48.9M,998.4K,16.3K,60.9K,December
3,4,centralcee,CentralCee,4.4M,19.8M,3.6M,23.3K,24.2K,December
4,5,adinross,adin,6.1M,21.1M,3.3M,17.5K,25.3K,December
...,...,...,...,...,...,...,...,...,...
995,996,jiembasands,Jiemba Sands,4.9M,3.4M,247.4K,207,264,December
996,997,crissa_ace,Crissa Jackson,14.9M,1.6M,141.7K,1.2K,580,December
997,998,ichadude,Alyssa & Dude,468.8K,2.3M,85.5K,997,1K,December
998,999,kanebrown,Kane Brown,5.2M,1.7M,96.7K,1.3K,1.2K,December
999,1000,nnennab_,Nnenna B | NYC Creator & Actor,149.1K,606.2K,79.5K,2.1K,6.1K,December

In [94]:
T_j = pd.read_csv('socialnetworks\Tiktok_june.csv')
T_j = (
    T_j
    .assign(
        Month = 'June'
    )
    .rename(columns={
        "Tiktoker": "Username",
        "influencer name": "Name",
        "Views avg.": "Views",
        "Likes avg":"Likes",
        "Comments avg.":"Comments",
        "Shares avg":"Shares",
        "Subscribers count": "Subscribers o Followers"
    })
)
T_j

,Username,Name,Subscribers o Followers,Views,Likes,Comments,Shares,Month
0,___nicoichi___,NICO„ÄêÂπ≥Êàê„Éï„É©„Éü„É≥„Ç¥„Äë,1.3M,1.9M,225.3K,1.7K,1.1K,June
1,_.anime.edits_0,video,97K,1.7M,75.6K,1.5K,8.7K,June
2,_.respect.boss._,Respect compilation ü§ùü•∂,1.5M,4.4M,241.9K,249,797,June
3,_.the.meme.hub._,RANDOM MEMES,2.3M,3.8M,787.7K,2.9K,9K,June
4,_andrewcurtiss,Andrew Curtis,2.5M,1.4M,300.4K,5.8K,4K,June
...,...,...,...,...,...,...,...,...
1002,zeth,Zeth,12.5M,6.7M,1.3M,3K,7.7K,June
1003,zodiac.boyfriend,Zodiac Boyfriendü™êüîÆ,1.8M,1.9M,272.7K,6.8K,3.6K,June
1004,zowloficial,Lord Zowl,1.1M,1.4M,178.1K,1.4K,2.1K,June
1005,zrt.foot,ZR7,100.8K,2.3M,218K,1.7K,6.4K,June
1006,zubarefff,–ó—É–±–∞—Ä–µ–≤ –ê–ª–µ–∫—Å–∞–Ω–¥—Ä,4M,1.9M,249K,1.3K,1.6K,June

In [95]:
T_n = pd.read_csv('socialnetworks\Tiktok_nov.csv')
T_n = (
    T_n
    .assign(
        Month = 'November'
    )
    .rename(columns={
        "Tiktoker name ": "Username",
        "Tiktok name": "Name",
        "Views (Avg.)": "Views",
        "Likes (Avg.)":"Likes",
        "Comments (Avg.)":"Comments",
        "Shares (Avg.)":"Shares",
        "\nFollowers": "Subscribers o Followers"
    })
)
T_n

,row-cell,Tiktoker name,Name,Subscribers o Followers,Views,Likes,Comments,Shares,Month
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,November
1,1.0,yossikramer,Yossi,145.6K,26.8M,2.2M,30.1K,71.2K,November
2,2.0,mrbeast,MrBeast,55.6M,38.1M,3.8M,19K,7.8K,November
3,3.0,adinross,adin,5.4M,16.6M,2M,10.9K,12.5K,November
4,4.0,daniel.labelle,Daniel LaBelle,27.9M,11.8M,1.7M,6.9K,29.3K,November
...,...,...,...,...,...,...,...,...,...
996,996.0,nathanmccarron0,Nathan‚Äôs Art,1.6M,1.1M,117.6K,1.4K,1.1K,November
997,997.0,lacha21.1,Lazaro Gonzalez,669.4K,750.3K,118.3K,655,3K,November
998,998.0,hyoga.x,Hyoga,552K,1M,121.9K,1.9K,727,November
999,999.0,rrqr7tatsumaki,Rivaldi Fataah,1.1M,2M,112.5K,1K,414,November
1000,1000.0,_catben_,Catherine Benson,10.9M,1.6M,212.5K,665,318,November

In [96]:
T_s = pd.read_csv('socialnetworks\Tiktok_sep.csv')
T_s = (
    T_s
    .assign(
        Month = 'September'
    )
    .rename(columns={
        "Tiktoker name ": "Username",
        "Tiktok name": "Name",
        "Views avg.": "Views",
        "Likes avg.":"Likes",
        "Comments avg.":"Comments",
        "Shares avg.":"Shares",
        "Subscribers": "Subscribers o Followers"
    })
)
T_s

,S.no,Tiktoker name,Name,Subscribers o Followers,Views,Likes,Comments,Shares,Month
0,1,jypestraykids,Stray Kids,13.8M,6.4M,2.3M,50.2K,34.2K,September
1,2,khaby.lame,Khabane lame,149.2M,17.3M,2.3M,15.2K,8.7K,September
2,3,scarlettsspam2,scarlett,2.1M,17.9M,845.8K,53.9K,6.3K,September
3,4,addisonre,Addison Rae,88.7M,22M,906.6K,7.6K,26.2K,September
4,5,belindatok,Belinda,4.8M,14.2M,1.5M,14.5K,15.3K,September
...,...,...,...,...,...,...,...,...,...
995,996,brendadialoy,Brenda Dialoy,371.9K,1.2M,187.5K,626,2K,September
996,997,jujufitcats,Juju Fitcats,4.3M,2.2M,280.8K,380,558,September
997,998,xoteam,XO Team,37.8M,2.5M,180.2K,859,450,September
998,999,kimsnwuo,Ô∏èÔ∏è,100.9K,957.4K,226.8K,908,1.7K,September
999,1000,jass_mcg,jass_mcg,52.2K,503.8K,116K,8.1K,1.8K,September

In [97]:
glob.glob('socialnetworks\\Tiktok_*.csv')

['socialnetworks\\Tiktok_dec.csv',
 'socialnetworks\\Tiktok_june.csv',
 'socialnetworks\\Tiktok_nov.csv',
 'socialnetworks\\Tiktok_sep.csv']

In [98]:
df_Tiktok = pd.concat([T_d,T_j,T_n,T_s],ignore_index=True)
df_Tiktok

,Rank,Username,Name,Subscribers o Followers,Views,Likes,Comments,Shares,Month,row-cell,Tiktoker name,S.no
0,1.0,mrbeast,MrBeast,60.3M,29.2M,3.5M,30.8K,7.2K,December,NaN,NaN,NaN
1,2.0,karolg,Karol G,42.4M,23.7M,3.4M,21.7K,25.7K,December,NaN,NaN,NaN
2,3.0,yzn47,Ÿäÿ≤ŸÜ ÿßŸÑÿ£ÿ≥ŸÖÿ±,8.9M,48.9M,998.4K,16.3K,60.9K,December,NaN,NaN,NaN
3,4.0,centralcee,CentralCee,4.4M,19.8M,3.6M,23.3K,24.2K,December,NaN,NaN,NaN
4,5.0,adinross,adin,6.1M,21.1M,3.3M,17.5K,25.3K,December,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,Brenda Dialoy,371.9K,1.2M,187.5K,626,2K,September,NaN,brendadialoy,996.0
4004,NaN,NaN,Juju Fitcats,4.3M,2.2M,280.8K,380,558,September,NaN,jujufitcats,997.0
4005,NaN,NaN,XO Team,37.8M,2.5M,180.2K,859,450,September,NaN,xoteam,998.0
4006,NaN,NaN,Ô∏èÔ∏è,100.9K,957.4K,226.8K,908,1.7K,September,NaN,kimsnwuo,999.0
4007,NaN,NaN,jass_mcg,52.2K,503.8K,116K,8.1K,1.8K,September,NaN,jass_mcg,1000.0

***
Leemos los csv de Youtube

In [99]:
Y_dec = pd.read_csv('socialnetworks\Youtube_dec.csv')
Y_dec = (
    Y_dec
    .assign(
        Month = 'December'
    )
    .rename(columns={
        "Youtube Channel": "Username",
        "youtuber name": "Name",
        "\nViews (Avg.)": "Views",
        "Likes (Avg.)":"Likes",
        "Comments (Avg.)":"Comments",
        "Followers": "Subscribers o Followers",
        "Category":"Category1",
        "Category-2":"Category2"
    })
)
Y_dec

,s.no,Youtube channel,Name,Category1,Subscribers o Followers,Country,Views,Likes,Comments,Category2,Month
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN,December
1,2,setindia,SET India,NaN,147.2M,India,0,0,0,NaN,December
2,3,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN,December
3,4,MrBeast,MrBeast,Video games,117M,United States,68.5M,2.9M,99.9K,Humor,December
4,5,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN,December
...,...,...,...,...,...,...,...,...,...,...,...
998,999,ClassicMrBean,Classic Mr Bean,NaN,10.1M,India,48.3K,624,23,NaN,December
999,1000,Anupam Movie Songs,Anupam Movie Songs,Music & Dance,10.1M,Bangladesh,41.2K,315,18,NaN,December
1000,970,AnandAudio,Anand Audio,NaN,10.3M,India,175.5K,2.2K,109,NaN,December
1001,971,Wylsacom,Wylsacom,Science & Technology,10.3M,Russia,291.7K,13K,950,News & Politics,December
1002,986,Eagle Home Entertainments,Eagle Home Entertainments,NaN,10.2M,India,724,3,0,NaN,December

In [100]:
Y_june = pd.read_csv('socialnetworks\Youtube_june.csv')
Y_june = (
    Y_june
    .assign(
        Month = 'June'
    )
    .rename(columns={
        "channel name": "Username",
        "youTuber": "Name",
        "Views avg.": "Views",
        "Likes avg":"Likes",
        "Comments avg.":"Comments",
        "Subscribers count": "Subscribers o Followers",
        "Category":"Category1",
        "Category_2":"Category2"
    })
)
Y_june

,Username,Name,Category1,Category2,Subscribers o Followers,Country,Views,Likes,Comments,Month
0,juptube,Galinha Pintadinha,Music & Dance,NaN,30.5M,-,0,N/A',N/A',June
1,"Baby Big Mouth Kids - Sing, Dance, Explore","Baby Big Mouth Kids - Sing, Dance, Explore",Animation,Toys,10.6M,-,348.5,3,N/A',June
2,shfa show India,shfa show India,Daily vlogs,NaN,18.9M,-,1.2M,8.7K,N/A',June
3,Blippi - Educational Videos for Kids,Blippi - Educational Videos for Kids,Education,Toys,15.7M,-,1.2M,4.2K,N/A',June
4,infobellstamil,infobells - Tamil,Education,NaN,26.5M,-,1.3M,5.8K,N/A',June
...,...,...,...,...,...,...,...,...,...,...
1016,Power Vision,Power Vision,NaN,NaN,9.5M,United States,137.3K,1.3K,39,June
1017,POPSVIETNAM,POPS MUSIC,Music & Dance,NaN,9.5M,United States,4.6K,144,5,June
1018,Niki and Gabi,Niki and Gabi,Fashion,Humor,9.5M,United States,387.6K,17.8K,516,June
1019,Corridor,Corridor,Animation,NaN,9.5M,United States,1.9M,141.6K,4.7K,June
1020,JoshDub,JoshDub,Animation,Humor,9.5M,United States,713.6K,35.4K,1.2K,June

In [101]:
Y_nov = pd.read_csv('socialnetworks\Youtube_nov.csv')
Y_nov = (
    Y_nov
    .rename(columns={
        "Youtube channel": "Username",
        "youtuber name": "Name",
        "\nViews (Avg.)": "Views",
        "Likes (Avg.)":"Likes",
        "Comments (Avg.)":"Comments",
        "Followers": "Subscribers o Followers",
        "Category":"Category1",
        "Category-2":"Category2"
    }))
Y_nov

,s.no,Username,Name,Category1,Subscribers o Followers,Country,Views,Likes,Comments,Category2
0,1,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN
1,2,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN
2,3,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN
3,4,MrBeast6000,MrBeast,Video games,109.1M,United States,38.4M,3.1M,56.7K,Humor
4,5,‚úø Kids Diana Show,‚úø Kids Diana Show,Animation,102.5M,NaN,2.4M,15.7K,0,Toys
...,...,...,...,...,...,...,...,...,...,...
995,996,RUOK,RUOK,NaN,10.1M,Brazil,215.4K,25.2K,1.3K,NaN
996,997,FoxNewsChannel,Fox News,News & Politics,10.1M,United States,98.4K,4K,884,NaN
997,998,SULE PRODUCTIONS,SULE PRODUCTIONS,NaN,10.1M,Indonesia,218.3K,4.5K,306,NaN
998,999,MBCkpop,MBCkpop,Music & Dance,10.1M,Malaysia,19.7K,2.6K,92,NaN
999,1000,Dynamo Gaming,Dynamo Gaming,NaN,10.1M,India,139.6K,15.4K,125,NaN

In [102]:
Y_sep = pd.read_csv('socialnetworks\Youtube_sep.csv')
Y_sep = (
    Y_sep
    .rename(columns={
        "Youtuber": "Username",
        "Name": "Name",
        "Avg. views\r\n": "Views",
        "Avg. likes":"Likes",
        "Avg Comments":"Comments",
        "Subscribers": "Subscribers o Followers",
        "Category_2":"Category1",
        "Category_3":"Category2"
    }))
Y_sep

,S.no,Name,Username,Country,Subscribers,Category1,Views,Likes,Comments,Category2
0,1,T-Series,tseries,India,224.4M,Music & Dance,141.5K,4.6K,125,NaN
1,2,Cocomelon - Nursery Rhymes,checkgate,NaN,142.5M,Education,12.5M,64.8K,0,NaN
2,3,PewDiePie,PewDiePie,United States,111.6M,Animation,1.9M,130.5K,7.4K,NaN
3,4,MrBeast,MrBeast6000,United States,104.1M,Video games,44.8M,2.2M,70.9K,Humor
4,5,‚úø Kids Diana Show,‚úø Kids Diana Show,NaN,100.5M,Animation,6.9M,34.8K,0,Toys
...,...,...,...,...,...,...,...,...,...,...
1042,996,Raditya Dika,Raditya Dika,Indonesia,9.9M,Food & Drinks,430.5K,14.8K,741,NaN
1043,997,Ini Talk Show,IniTalkShow,Indonesia,9.9M,Music & Dance,25.2K,290,17,Humor
1044,998,SpriteDer SPD,SpriteDer SPD,Thailand,9.9M,Humor,4.4M,154.4K,3.6K,NaN
1045,999,Classic Mr Bean,Classic Mr Bean,India,9.9M,NaN,132.6K,1.1K,53,NaN
1046,1000,Heera Gold,Heera Gold,Pakistan,9.9M,Daily vlogs,39.4K,1.6K,161,NaN

In [103]:
glob.glob('socialnetworks\\Youtube_*.csv')

['socialnetworks\\Youtube_dec.csv',
 'socialnetworks\\Youtube_june.csv',
 'socialnetworks\\Youtube_nov.csv',
 'socialnetworks\\Youtube_sep.csv']

In [104]:
df_Youtube = pd.concat([Y_dec,Y_nov,Y_june,Y_sep],ignore_index=True)
df_Youtube

,s.no,Youtube channel,Name,Category1,Subscribers o Followers,Country,Views,Likes,Comments,Category2,Month,Username,S.no,Subscribers
0,1.0,tseries,T-Series,Music & Dance,229.5M,India,103.8K,2.8K,158,NaN,December,NaN,NaN,NaN
1,2.0,setindia,SET India,NaN,147.2M,India,0,0,0,NaN,December,NaN,NaN,NaN
2,3.0,checkgate,Cocomelon - Nursery Rhymes,Education,146.6M,NaN,9.5M,48.3K,0,NaN,December,NaN,NaN,NaN
3,4.0,MrBeast,MrBeast,Video games,117M,United States,68.5M,2.9M,99.9K,Humor,December,NaN,NaN,NaN
4,5.0,PewDiePie,PewDiePie,Animation,111.6M,United States,1.4M,110.7K,7.8K,NaN,December,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4066,NaN,NaN,Raditya Dika,Food & Drinks,NaN,Indonesia,430.5K,14.8K,741,NaN,NaN,Raditya Dika,996.0,9.9M
4067,NaN,NaN,Ini Talk Show,Music & Dance,NaN,Indonesia,25.2K,290,17,Humor,NaN,IniTalkShow,997.0,9.9M
4068,NaN,NaN,SpriteDer SPD,Humor,NaN,Thailand,4.4M,154.4K,3.6K,NaN,NaN,SpriteDer SPD,998.0,9.9M
4069,NaN,NaN,Classic Mr Bean,NaN,NaN,India,132.6K,1.1K,53,NaN,NaN,Classic Mr Bean,999.0,9.9M
4070,NaN,NaN,Heera Gold,Daily vlogs,NaN,Pakistan,39.4K,1.6K,161,NaN,NaN,Heera Gold,1000.0,9.9M

***
# PASO 4

In [107]:
# los archivos sin mes los llamare i_mesnt, y_mesnt, t_mesnt

i_mesnt = pd.read_csv('socialnetworks\instagram.csv')
i_mesnt = (
    i_mesnt
    .rename(columns={
        "Influencer insta name":"Username",
        "instagram name":"Name",
        "category_1":"Category1",
        "category_2":"Category2",
        "Followers":"Subscribers o Followers",
        "Audience country(mostly)": "Country",
        "Authentic engagement\r\n": "Authentic",
        "Engagement avg\r\n":"Engagement"
    })
)
i_mesnt

,Username,Name,Category1,Category2,Subscribers o Followers,Country,Authentic,Engagement
0,433,433,Sports with a ball,NaN,48.5M,Spain,383.1K,637K
1,__youngbae__,TAEYANG,Music,NaN,12.7M,Indonesia,478K,542.3K
2,_agentgirl_,–ù–ê–°–¢–Ø –ò–í–õ–ï–ï–í–ê,Shows,NaN,18.8M,Russia,310.8K,377.9K
3,_imyour_joy,Joy,Lifestyle,NaN,13.5M,Indonesia,1.1M,1.4M
4,_jeongjaehyun,Jaehyun,NaN,NaN,11.1M,Indonesia,2.5M,3.1M
...,...,...,...,...,...,...,...,...
995,zendaya,Zendaya,Cinema & Actors/actresses,Fashion,136.1M,United States,6.4M,8.6M
996,zidane,zidane,Sports with a ball,NaN,31.2M,Spain,546K,744.1K
997,zkdlin,KAI,Music,NaN,13.9M,Indonesia,1.3M,1.6M
998,zoeisabellakravitz,ZoeÃà Kravitz,Cinema & Actors/actresses,NaN,8.2M,United States,583K,885.5K
999,zoesugg,ZoeÃà Sugg,Lifestyle,Business & Careers,9.4M,United Kingdom,208.7K,289.3K

In [110]:
# los archivos sin mes los llamare i_mesnt, y_mesnt, t_mesnt

y_mesnt = pd.read_csv('socialnetworks\youtube.csv')
y_mesnt = (
    y_mesnt
    .rename(columns={
        "youtuber name":"Username",
        "channel name":"Name",
        "Subscribers":"Subscribers o Followers",
        "Audience Country": "Country",
        "avg views": "Views",
        "avg likes":"Likes",
        "avg comments":"Comments"
    })
)
y_mesnt

,Username,Name,Category,Subscribers o Followers,Country,Views,Likes,Comments
0,tseries,T-Series,Music & Dance,212.1M,India,323.7K,9.8K,290
1,checkgate,Cocomelon - Nursery Rhymes,Education,132.1M,NaN,13.8M,80.9K,NaN
2,setindia,SET India,NaN,130.4M,India,23.6K,314,21
3,PewDiePie,PewDiePie,Animation,111.4M,United States,1.4M,80.8K,4.6K
4,MrBeast6000,MrBeast,Video games,92.5M,United States,30.6M,1.7M,67.7K
...,...,...,...,...,...,...,...,...
995,FutPar√≥dias,FutPar√≥dias,Music & Dance,9.2M,Brazil,1.4M,110.1K,2.5K
996,EL GATO,EL GATO,Toys,9.2M,Brazil,243.8K,30.7K,636
997,CinemaSins,CinemaSins,Movies,9.2M,United States,296K,10.2K,874
998,CricketICC,ICC,Sports,9.2M,India,15.2K,854,58
999,BRKsEDU,BRKsEDU,Animation,9.2M,Brazil,112.3K,9.8K,246

In [112]:
# los archivos sin mes los llamare i_mesnt, y_mesnt, t_mesnt

t_mesnt = pd.read_csv('socialnetworks\Tiktok.csv')
t_mesnt = (
    t_mesnt
    .rename(columns={
        "Tiktoker name":"Username",
        "Tiktok name":"Name",
        "Subscribers count":"Subscribers o Followers",
        "Views avg.": "Views",
        "Likes avg.":"Likes",
        "Comments avg.":"Comments",
        "Shares avg":"Shares"
    })
)
t_mesnt

,Username,Name,Subscribers o Followers,Views,Likes avg,Comments,Shares
0,ekin.721,MOMO‚Äôs,221.7K,26M,2.8M,29.4K,116.4K
1,dojacat,Doja Cat,22.2M,25.4M,5M,36.7K,46.8K
2,kiet.ac.quy,Ki·ªát ·∫Æk W·ª∑,2.1M,20.7M,3.5M,38.8K,33.9K
3,charlidamelio,charli d‚Äôamelio,135.4M,18.7M,2.6M,54.7K,35.2K
4,luvadepedreiro,Iran Ferreira (Lai),11.4M,24.8M,2.6M,32.7K,26.8K
...,...,...,...,...,...,...,...
995,nicolebernaal,nicolebernaal,4M,2.2M,351.3K,957,195
996,bellaretamosa,bella,5.1M,2.5M,340.4K,901,145
997,tunico80,üå†Antonio Tononüå†,5.8M,1M,206.8K,2K,2.1K
998,armon.warren,Armoney,1.2M,1.9M,300.8K,904,630
999,soanhvadiephihi,Soanh x Di·ªáp üíé,1.6M,2.6M,273.2K,720,530

***
# PASO 5